.App {
  text-align: center;
}

.container {
  display: flex; /* Ustawienie layoutu w rządku */
  justify-content: space-between; /* Rozmieszczenie elementów */
  align-items: flex-start; /* Wyrównanie do góry */
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.service-search-column {
  flex: 1; /* Kolumna dla SimpleServiceSearch po lewej stronie */
  align-items: flex-start;
}

.empty-column {
  flex: 2; /* Większa kolumna pośrodku jako pusta przestrzeń */
}

.buttons-container {
  display: flex;
  gap: 20px; /* Odstęp między kolumnami */
  justify-content: flex-end; /* Przykleja kolumny do prawej strony */
}

.button-column {
  flex: 1; /* Każdy przycisk w osobnej kolumnie */
}

button {
  width: auto;
  height: auto;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  white-space: nowrap;
}